#main #right_content_box{
	width: 733px;
	/*border:1px solid #E4E4E4;*/
	height: 400px;
	float: right;
}
#main #right_content_box div.function_nav_box ul.function_nav{
	
}
#main #right_content_box div.function_nav_box ul.function_nav li{
	float: left;
	margin-right: 3px;
	position: relative;
	height: 50px;
}
#main #right_content_box div.function_nav_box ul.function_nav li a{
	color: #999999;
	font-size: 14px;
	display: block;
	border:1px solid #E4E4E4;
	border-bottom: none;
	height: 49px;
	line-height: 49px;
	text-align: center;
	width: 128px;
	background: #F2F2F2;
}
#main #right_content_box div.function_nav_box ul.function_nav li a.single{
	position: absolute;
	top: 0px;
	left: 0px;
}
#main #right_content_box div.function_nav_box ul.function_nav li a.multi{
	position: absolute;
	top: 0px;
	left: 132px;
}
#main #right_content_box div.function_nav_box ul.function_nav li a.view{
	position: absolute;
	top: 0px;
	left: 264px;
}
#main #right_content_box div.function_nav_box ul.function_nav li a.current{
	color: #ED5565;
	font-weight: bold;
	background: white;
	height: 50px;
}
#main #right_content_box div.function_content_box{
	border:1px solid #E4E4E4;
	padding-bottom: 50px;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table{
	margin-top: 20px;
	width: 663px;
	margin-left: 35px;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th{
	background: #F2F2F2;
	height: 30px;
	color: #666;
	font-size: 14px;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th p{
	width: 100%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th p select{
	width: 100%;
	height: 30px;
	padding:6px 0;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th.one{
	width: 10%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th.three{
	width: 30%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th.four{
	width: 10%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th.five{
	width: 20%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr th.six{
	width: 20%;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr td{
	color: #666;
	height: 50px;
	text-align: center;
	font-size: 14px;
	border-bottom:1px dashed #E4E4E4;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr td a{
	color: #666;
}
#main #right_content_box div.function_content_box div.coupon_detail_box table tr td span.bold{
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
}
#main #right_content_box div.function_content_box div.coupon_detail_box ul.page_box{
	margin-left: 450px;
	margin-top: 40px;
}
#main #right_content_box div.function_content_box div.coupon_detail_box ul.page_box li{
	float: left;
	height: 25px;
	width: 30px;
	background: white;
	margin-right: 3px;
	border:1px solid #E3E3E3;
}
#main #right_content_box div.function_content_box div.coupon_detail_box ul.page_box li a{
	display: block;
	height: 25px;
	width:30px;
	line-height: 25px;
	color: #666;
	font-style: 微软雅黑;
	text-align: center;
}
#main #right_content_box div.function_content_box div.coupon_detail_box ul.page_box li a.red{
	background: #EB5B4C;
	color: white;
}
