#main{
	height: 500px;
}
/*左边主要内容区域*/
#main #left_card{
	position: relative;
	width: 715px;
	height: 480px;
	border: 1px solid #E3E3E3;
	background: white;
	filter:alpha(opacity=75);  
    -moz-opacity:0.75;  
    -khtml-opacity: 0.75;  
    opacity: 0.75; 
}
#main #left_card p.one{
	color: #EB5B4C;
	font-size:20px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	left: 40px;	
	border-bottom: #E4E4E4 2px solid;
	width: 630px;
	height: 35px;
}
#main #left_card p.two{
	position: absolute;
	top: 75px;
	left: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #616161;

}
#main #left_card a{
	font-size: 13px;
}
#main #left_card a:link,#main #left_card a:visited{
	color:#ED5565;
	text-decoration: none;
}
#main #left_card a:hover{
	color:black;
	text-decoration: underline;
}

/*左边主要内容区域结束*/