
#main{
	width: 960px;
	margin: 0 auto;
	background-color: #F2F2F2;
}
#main #ad_box{
	height: 85px;
	position: relative;
}
#main #ad_box img{
	width: 944px;
	height: 77px;
	position: absolute;
	top: 8px;
	left: 8px;
}
#main #ad_box ul{
	position: absolute;
	top: 68px;
	right: 10px;
}
#main #ad_box li{
	float: left;
	width: 23px;
	border: 1px solid #CCCCCC;
	text-align: center;
	margin-right: 1px;
	height: 14px;
	line-height: 14px;
	background: #CCCCCC;
}
#main #ad_box li.hover{
	background: #ED5565;
}
#main #ad_box a{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	color: white;
}
#main #classification_location_box{

}
#main #classification_location_box #content_box{
	width: 944px;
	margin-left: 8px;
	margin-top: 8px;
	background-color: white;
	border-radius: 5px;
}
#main #classification_location_box #content_box #classification_box{
	padding-bottom: 10px;
}
#main #classification_location_box #content_box #classification_box p{
	height: 30px;
	line-height: 30px;
	color: #ED5565;
	font-weight: bold;
	font-size: 14px;
	width: 54px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;/*解决firefoxinline-block的空隙bug*/

}
#main #classification_location_box #content_box #classification_box ul.parent_classification{
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
#main #classification_location_box #content_box #classification_box ul.parent_classification li{
	height: 30px;
	float: left;
}
#main #classification_location_box #content_box #classification_box ul.parent_classification li a{
	color: #4467A3;
	display: block;
	height: 26px;
	line-height: 26px;
	margin-top: 2px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 6px;
	margin-right: 6px;
}
#main #classification_location_box #content_box #classification_box ul.parent_classification li a.current{
	background-color: #4467A3;
	color: white;
	border-radius: 3px;
}
#main #classification_location_box #content_box #classification_box ul.parent_classification li a:hover{
	background-color: #4467A3;
	color: white;
	border-radius: 3px;
}
#main #classification_location_box #content_box #classification_box div{
	background: url(../images/bg_ico_01.png) no-repeat 80px 0px;
	/*display: none;*/

}
#main #classification_location_box #content_box #classification_box div ul.child_classification{
	margin-top: 10px;
	background: #ECEFF5;
	margin-left: 70px;
	border-radius: 5px;
	margin-right: 10px;
	border:1px solid #DBE1EC;
}
#main #classification_location_box #content_box #classification_box div ul.child_classification li{
	float: left;
	height: 40px;
	background: url(../images/bg_ico_02.png) no-repeat 0px -491px;
	padding-right: 15px;
	padding-left: 15px;
}
#main #classification_location_box #content_box #classification_box div ul.child_classification li.no_right_border{
	border-right: none;
}
#main #classification_location_box #content_box #classification_box div ul.child_classification li a{
	color: #4467A3;
	display: block;
	height: 26px;
	line-height: 26px;
	margin-top: 7px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
#main #classification_location_box #content_box #classification_box div ul.child_classification li a.current{
	background-color: #4467A3;
	color: white;
	border-radius: 3px;
}
#main #classification_location_box #content_box #classification_box div ul.child_classification li a:hover{
	background-color: #4467A3;
	color: white;
	border-radius: 3px;
}
#main #classification_location_box #content_box #location_box{
	padding-bottom: 10px;
}
#main #classification_location_box #content_box #location_box p{
	height: 30px;
	line-height: 30px;
	color: #ED5565;
	font-weight: bold;
	font-size: 14px;
	width: 54px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;/*解决firefoxinline-block的空隙bug*/

}
#main #classification_location_box #content_box #location_box ul.parent_classification{
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
#main #classification_location_box #content_box #location_box ul.parent_classification li{
	height: 30px;
	float: left;
}
#main #classification_location_box #content_box #location_box ul.parent_classification li a{
	color: #4467A3;
	display: block;
	height: 26px;
	line-height: 26px;
	margin-top: 2px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 6px;
	margin-right: 6px;
}
#main #classification_location_box #content_box #location_box ul.parent_classification li a.current{
	background-color: #4467A3;
	color: white;
	border-radius: 5px;
}
#main #classification_location_box #content_box #location_box ul.parent_classification li a:hover{
	background-color: #4467A3;
	color: white;
	border-radius: 5px;
}

#main #classification_location_box #content_box #location_box div{
	background: url(../images/bg_ico_01.png) no-repeat 80px 0px;
	/*display: none;*/
}
#main #classification_location_box #content_box #location_box div ul.child_classification{
	border:1px solid #DBE1EC;
	background: #ECEFF5;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 70px;
	margin-right: 10px;
}
#main #classification_location_box #content_box #location_box div ul.child_classification li{
	float: left;
	height: 40px;
	background: url(../images/bg_ico_02.png) no-repeat 0px -491px;
	padding-right: 15px;
	padding-left: 15px;
}
#main #classification_location_box #content_box #location_box div ul.child_classification li.no_right_border{
	border-right: none;
}
#main #classification_location_box #content_box #location_box div ul.child_classification li a{
	color: #4467A3;
	display: block;
	height: 26px;
	line-height: 26px;
	margin-top: 7px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
#main #classification_location_box #content_box #location_box div ul.child_classification li a.current{
	background-color: #4467A3;
	color: white;
	border-radius: 5px;
}
#main #classification_location_box #content_box #location_box div ul.child_classification li a:hover{
	background-color: #4467A3;
	color: white;
	border-radius: 5px;
}
#main #sort_price_box{
	height: 45px;
	position: relative;
}
#main #sort_price_box div.content_box{
	height: 37px;
	border-radius: 5px;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 944px;
	background: #E4E4E4;
}
#main #sort_price_box div.content_box p.one{
	position: absolute;
	top: 11px;
	left: 10px;
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
}
#main #sort_price_box div.content_box ul{
	position: absolute;
	top: 6px;
	left: 77px;

}
#main #sort_price_box div.content_box ul li{
	float: left;
	width: 68px;
	height: 25px;
	background:white;
	margin-right: 1px;
}
#main #sort_price_box div.content_box ul li a{
	display: block;
	line-height: 24px;
	height: 24px;
	color: #797979;
	text-align: center;
	border:1px solid white;
}
#main #sort_price_box div.content_box ul li a:hover{
	border:1px solid #4467A3;
	color: black;
}
#main #coupon_box{
	position: relative;
}
#main #coupon_box ul.coupon_content{
	margin-top: 8px;
	margin-left: 8px;
	width: 694px;
}
#main #coupon_box ul.coupon_content li{
	float: left;
	width: 337px;
	height: 181px;
	background: white;
	position: relative;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
#main #coupon_box ul.coupon_content li:hover{
	background:url(../images/coupon-hover.png) no-repeat 0px 0px;
	
}
#main #coupon_box ul.coupon_content li a.img_box img{
	width: 162px;
	height: 162px;
	position: absolute;
	top: 10px;
	left: 13px;
	border:0px;
}
#main #coupon_box ul.coupon_content li p.one{
	position: absolute;
	top: 40px;
	left: 182px;
	width: 152px;
	height: 45px;
	overflow: hidden;
	

}
#main #coupon_box ul.coupon_content li p.two{
	position: absolute;
	top: 98px;
	left: 182px;
	width: 152px;
	color: #999999;
	height: 15px;
	overflow: hidden;

}
#main #coupon_box ul.coupon_content li p.three{
	position: absolute;
	top: 122px;
	left: 182px;
	width: 152px;
	color: #999999;
}
#main #coupon_box ul.coupon_content li p.hidden_location{
	position: absolute;
	top: 132px;
	left: 13px;
	height: 40px;
	width: 145px;
	color: white;
	background: red;
	line-height: 40px;
	background: url(../images/location.png) no-repeat 1px 10px;
	background-color: black;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
	padding-left: 17px;
	font-weight: bold;
	display: none;
}
#main #coupon_box ul.coupon_content li a:hover{
	text-decoration: underline;
}
#main #coupon_box ul.coupon_content li a.content_title{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 13px;
	left: 182px;
	height: 15px;
	overflow: hidden;
	
}
#main #coupon_box ul.coupon_content li a.download{
	color: #ED5565;
	position: absolute;
	top: 154px;
	right: 24px;
	background: url(../images/download.png) no-repeat 0px -2px;
	padding-left: 19px;
	
}
#main #coupon_box #webchat_box{
	background: white;
	height: 181px;
	width: 254px;
	position: absolute;
	top: 0px;
	right: 8px;
}
#main #coupon_box #webchat_box p{
	font-weight: bold;
	margin-top: 20px;
	margin-left: 42px;
	margin-right: 42px;
	width: 170px;
	text-align: center;
}
#main #coupon_box #webchat_box img{
	margin-top: 20px;
	margin-left: 84px;
	margin-right: 84px;
	height: 86px;
	width: 86px;
}



#main #coupon_box #hot_coupon_box{
	background: white;
	width: 254px;
	position: absolute;
	top: 189px;
	right: 8px;
	background-color: white;
}
#main #coupon_box #hot_coupon_box p.title{
	background: #E4E4E4;
	height: 35px;
	color: #666;
	line-height: 35px;
	padding-left: 8px;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon{
	margin-top: 5px;
	margin-left: 5px;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li{
	background: #ECEFF5;
	height: 80px;
	width: 244px;
	margin-bottom: 5px;
	position: relative;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li a.title{
	color: #ED5565;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 8px;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li a:hover{
	text-decoration: underline;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li p{
	color: #666;
	position: absolute;
	top: 27px;
	left: 8px;
	width: 165px;
	height: 45px;
	overflow: hidden;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li a.img_box{
	position: absolute;
	top: 10px;
	right: 5px;
	width: 62px;
	height: 62px;
	display: block;
}
#main #coupon_box #hot_coupon_box ul.hot_coupon li a.img_box img{
	width: 62px;
	height: 62px;
	border:0px;
}