#main{
	height: 560px;
}
/*左边主要内容区域*/
#main #left_card{
	position: relative;
	width: 715px;
	height: 560px;
	border: 2px solid #F7F8FA;
}
#main #left_card p.one{
	color: #EB5B4C;
	font-size:20px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	left: 40px;	
	border-bottom: #E4E4E4 2px solid;
	width: 630px;
	height: 35px;
}
#main #left_card p.two{
	position: absolute;
	top: 75px;
	left: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #616161;

}
#main #left_card p.three{
	border:1px solid black;
	position: absolute;
	top: 120px;
	left: 40px;
	width: 610px;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	color: #EB5B4C;
	font-size: 14px;
	border:1px solid #DA4453;
	border-radius: 5px;
	display: none;
}
#main #left_card form.one{
	position: absolute;
	top: 100px;

}
#main #left_card form #btn_submit{
	display: block;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 400px;
	left: 200px;
	line-height: 30px;
	text-align: center;
	background: #ED5565;
	cursor: pointer;
}
#main #left_card form ul{
	width: 630px;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 40px;
}
#main #left_card form ul li{

	width: 630px;
	height: 50px;
	position: relative;
}
#main #left_card form ul li.one{
	height: 75px;
}
#main #left_card form ul li.two{
	height: 145px;
}
#main #left_card form ul li p{
	position: absolute;
	top: 20px;
	left: 30px;
}
#main #left_card form ul li p.tip{
	position: absolute;
	top: 55px;
	left: 160px;
	color: #616161;
}
#main #left_card form ul li input{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 371px;
	/*height: 39px;*/

	height: 39px; height/*\**/: 19px \9;
	padding-top: 0px; padding-top/*\**/:10px \9;
	padding-bottom: 0px; padding-bottom/*\**/:10px \9;
	line-height: 39px; line-height/*\**/: 19px \9;
}
#main #left_card form ul li input.one{
	position: absolute;
	top: 5px;
	left: 160px;
}
#main #left_card form ul li textarea{
	position: absolute;
	top: 5px;
	left: 160px;

}
/*左边主要内容区域结束*/