*{
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	font-family: "Arial,宋体";
}
a{
	text-decoration: none;
	color: #333333;
}
ul li{
	list-style: none;
}
input{
	border: none;
}
body{
	background: url(../images/newUI-bg.jpg) fixed;
	/*background: url(../images/网站背景11.jpg) fixed;*/
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }
/*顶部订阅分享区域*/
#cellphone_version_box{
	display: none;
	background: white;
	width: 856px;
	height: 570px;
	position: relative;
	border-radius: 5px;
}
#cellphone_version_box #app_closed_box{
	position: absolute;
	top: 0px;
	right: 0px;
	
}
#cellphone_version_box #app_closed_box a{
	border:none;
	cursor: pointer;
}
#cellphone_version_box #app_closed_box a img{
	border:none;
	width: 30px;
	height: 30px;
}
#cellphone_version_box #apppics_box #phone_pic01{
	position: absolute;
	top: 100px;
	right: 75px;
}
#cellphone_version_box #apppics_box #phone_pic02{
	position: absolute;
	top: 100px;
	right: 75px;
}
#cellphone_version_box p.one{
	color: #ED5565;
	font-size: 25px;
	font-weight: bold;
	font-family: "微软雅黑";
	position: absolute;
	top: 50px;
	left: 50px;

}
#cellphone_version_box p.two{
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 62px;
	left: 317px;
}
#cellphone_version_box p.version_comment_title{
	color: #666;
	position: absolute;
	top: 458px;
	left: 53px;
}
#cellphone_version_box p.version_comment_content{
	color: #666;
	position: absolute;
	top: 478px;
	left: 53px;
}

#cellphone_version_box a.iphone{
	display: block;
	width: 68px;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	top: 110px;
	left: 50px;
	font-family: Arial;
	background: url("../images/iphone_ico.png") no-repeat 15px 12px #FABAC0;
	padding-left: 42px;
	border:none;

	

}
#cellphone_version_box a.android{
	display: block;
	width: 68px;
	height: 45px;
	line-height: 45px;
	background: #98E606;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	top: 110px;
	left: 165px;
	font-family: Arial;
	background: url("../images/android_ico.png") no-repeat 15px 12px #98E606;
	padding-left: 42px;
	border:none;
}
#cellphone_version_box a.wp{
	display: block;
	width: 68px;
	height: 45px;
	line-height: 45px;
	background: #7DBEFF;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	top: 110px;
	left: 280px;
	font-family: Arial;
	background: url("../images/wp_ico.png") no-repeat 15px 12px #3399FF;
	padding-left: 42px;
	border:none;
}
#cellphone_version_box #appbtn_box a.imgbtn_01{
	position: absolute;
	top: 465px;
	right: 210px;
	border:none;
}
#cellphone_version_box #appbtn_box a.imgbtn_01 img{
	border:none;
}
#cellphone_version_box #appbtn_box a.imgbtn_02{
	position: absolute;
	top: 465px;
	right: 225px;
	border:none;
}
#cellphone_version_box #appbtn_box a.imgbtn_02 img{
	border:none;
}
#cellphone_version_box #iphone_box{
	position: absolute;
	top: 153px;
	left: 50px;
	width: 340px;
	height: 270px;
	display: block;
}
#cellphone_version_box #iphone_box img{
	position: absolute;
	top: 0px;
	left: 40px;
}
#cellphone_version_box #iphone_box ul{
	position: absolute;
	top: 18px;
	left: 0px;
	width: 340px;
	height: 270px;
	background: #FABAC0;
	border-radius: 5px;
}
#cellphone_version_box #iphone_box ul li{
	position: relative;
	height: 20px;
	padding-top: 20px;
	padding-left: 20px;
	
}
#cellphone_version_box #iphone_box ul li.one{
	height: 140px;
}
#cellphone_version_box #iphone_box ul li img{
	position: absolute;
	top: 45px;
	left: 75px;
	width: 86px;
	height: 86px;
}
#cellphone_version_box #iphone_box ul li p{
	font-size: 13px;
	color: #333;
}
#cellphone_version_box #iphone_box ul li p span{
	font-weight: bold;
}
#cellphone_version_box #iphone_box ul li p a{
	color: #ED5565;
	font-weight: bold;
}
#cellphone_version_box #iphone_box ul li p a:hover{
	text-decoration: underline;
}
#cellphone_version_box #iphone_box ul li p.four{
	position: absolute;
	top: 140px;
	left: 20px;
}
#cellphone_version_box #iphone_box ul li p.four a{
	font-weight: bold;
	font-size: 13px;
	color: #4467A3;
	font-family: Arial;
}


#cellphone_version_box #android_box{
	position: absolute;
	top: 153px;
	left: 50px;
	width: 340px;
	height: 270px;
	display: none;
}
#cellphone_version_box #android_box img{
	position: absolute;
	top: 0px;
	left: 155px;
}
#cellphone_version_box #android_box ul{
	position: absolute;
	top: 18px;
	left: 0px;
	width: 340px;
	height: 270px;
	background: #C1FB57;
	border-radius: 5px;
}
#cellphone_version_box #android_box ul li{
	position: relative;
	height: 20px;
	padding-top: 20px;
	padding-left: 20px;
	
}
#cellphone_version_box #android_box ul li.one{
	height: 140px;
}
#cellphone_version_box #android_box ul li img{
	position: absolute;
	top: 45px;
	left: 75px;
	width: 86px;
	height: 86px;
}
#cellphone_version_box #android_box ul li p{
	font-size: 13px;
	color: #333;
}
#cellphone_version_box #android_box ul li p span{
	font-weight: bold;
}
#cellphone_version_box #android_box ul li p a{
	font-weight: bold;
	color: #ED5565;
}
#cellphone_version_box #android_box ul li p a:hover{
	text-decoration: underline;
}
#cellphone_version_box #android_box ul li p.four{
	position: absolute;
	top: 140px;
	left: 20px;
}
#cellphone_version_box #android_box ul li p.four a{
	font-weight: bold;
	font-size: 13px;
	color: #4467A3;
	font-family: Arial;
}

#cellphone_version_box #wp_box{
	position: absolute;
	top: 153px;
	left: 50px;
	width: 340px;
	height: 270px;
	display: none;
	
}
#cellphone_version_box #wp_box img{
	position: absolute;
	top: 0px;
	left: 265px;
}
#cellphone_version_box #wp_box ul{
	position: absolute;
	top: 18px;
	left: 0px;
	width: 340px;
	height: 270px;
	background: #7DBEFF;
	border-radius: 5px;
}
#cellphone_version_box #wp_box ul li{
	position: relative;
	height: 20px;
	padding-top: 20px;
	padding-left: 20px;
	
}
#cellphone_version_box #wp_box ul li.one{
	height: 140px;
}
#cellphone_version_box #wp_box ul li img{
	position: absolute;
	top: 45px;
	left: 75px;
	width: 86px;
	height: 86px;
}
#cellphone_version_box #wp_box ul li p{
	font-size: 13px;
	color: #333;
}
#cellphone_version_box #wp_box ul li p span{
	font-weight: bold;
}
#cellphone_version_box #wp_box ul li p a{
	font-weight: bold;
	color: #ED5565;
}
#cellphone_version_box #wp_box ul li p a:hover{
	text-decoration: underline;
}
#cellphone_version_box #wp_box ul li p.four{
	position: absolute;
	top: 140px;
	left: 20px;
}
#cellphone_version_box #wp_box ul li p.four a{
	font-weight: bold;
	font-size: 13px;
	color: #4467A3;
	font-family: Arial;
}
#top_box{
	width: 100%;
	background: #ED5565;
}
#top_box #top_function_box{
	width: 960px;
	height: 38px;
	margin: 0 auto;
	border:2px solid white;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #ED5565;
}
#top_box #top_function_box img{
	width: 160px;
	height: 26px;
	border:none;
	margin-top: 6px;
	margin-left: 6px;
}
#top_box #top_function_box ul{
	float: right;
	
}
#top_box #top_function_box ul li{
	float: left;
	height: 30px;
	padding-top: 9px;
}
#top_box #top_function_box ul li.current{

    border:1px solid white;
	/*height: 20px;*/
	margin-top: 8px;
	border-bottom: none;
	padding-top: 0px;
	/*line-height: 0px;*/
}
#top_box #top_function_box ul li a{
	font-size: 14px;
	color: white;
	font-family: 微软雅黑;
	border-right: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
}
#top_box #top_function_box ul li a.no_border_right{
	border-right:none;
}
#top_box #top_function_box ul li a.border_left{
	border-left: 1px solid white;
}
#top_box #top_function_box ul li a.bg_icon{
	background: url(../images/down-white.png) no-repeat 40px 2px;
	padding-right: 20px;

}
#top_box #top_function_box ul li a.hover_bg_icon{
	background: url(../images/up.png) no-repeat 42px 4px;
}
#top_box #top_logo_box{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	background: #ED5565;
	border:1px solid #ED5565;	
}
#top_box #top_logo_box a{
	display: block;
	width: 260px;
	height: 70px;
	margin-left: 350px;
	margin-top: 25px;

}
#top_box #top_logo_box a img{
	border:none;
	width: 260px;
	height: 70px;
}
#top_box #top_function_box ul li.subscription{
	position: relative;
}
#top_box #top_function_box ul li.subscription #subscription_box{
	border:1px solid white;
	border-top: none;
	width: 290px;
	height: 80px;
	position: absolute;
	top: 29px;
	left: -232px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 30;
	background: white;
	filter:alpha(opacity=85);  
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
	display: none;
}
#top_box #top_function_box ul li.subscription #subscription_box label.subscription_default_content{
	position: relative;
	left: 15px;
	top: 37px;
	color: #666666;
	z-index:2;
}
#top_box #top_function_box ul #subscription #subscription_box #subscription_email_textbox{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	height: 35px;
	width: 200px;
	position: absolute;
	top: 20px;
	left: 7px;
}
#top_box #top_function_box ul #subscription #subscription_box #subscription_email_btn{
	display: block;
	width: 66px;
	height: 35px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	position: absolute;
	top: 20px;
	right: 10px;
	background: #ED5565;
	border-radius: 5px;
}
#top_box #top_function_box ul li.share{
	position: relative;
}
#top_box #top_function_box ul li.share #share_box{
	border:1px solid white;
	border-top: none;
	position: absolute;
	top: 29px;
	left: -137px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 300;
	display: none;
	background: white;
	filter:alpha(opacity=85);  
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
#top_box #top_function_box ul li.share #share_box ul{
	padding-bottom: 10px;
}
#top_box #top_function_box ul li.share #share_box ul li{
	width: 195px;
}
#top_box #top_function_box ul li.share #share_box ul li a{
	color: #4467A3;
	height: 30px;
	line-height: 30px;
	display: block;
	padding-left: 45px;
}
#top_box #top_function_box ul li.share #share_box ul li a.qzone{
	background: url("../images/qzone.png") no-repeat 20px 5px;
}
#top_box #top_function_box ul li.share #share_box ul li a.weibo{
	background: url("../images/weibo.png") no-repeat 20px 5px;
}
#top_box #top_function_box ul li.share #share_box ul li a.QQweibo{
	background: url("../images/QQweibo.png") no-repeat 20px 5px;
}
#top_box #top_function_box ul li.share #share_box ul li a:hover{
	border: 1px solid #ED5565;
	border-radius:5px;
}
#top_box #top_function_box ul li.person_center_menu{
	position: relative;
	/*width: 91px;*/
}
#top_box #top_function_box ul li.person_center_menu #login_dropdownlist_box{
	position: absolute;
	top: 9px;
	left: 0px;
	z-index: 50;
	display: none;
	border:1px solid white;
}
#top_box #top_function_box ul #person_center_menu #login_dropdownlist_box #login_dropdownlist{
	background: white;
	filter:alpha(opacity=75);  
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;

}
#top_box #top_function_box ul #person_center_menu #login_dropdownlist_box #login_dropdownlist li{
	height: 30px;
	width: 90px;
	line-height: 30px;
	padding-top: 0px;
	
}
#top_box #top_function_box ul #person_center_menu #login_dropdownlist_box #login_dropdownlist li.title{
	line-height: 0px;
	padding-top: 10px;
	height: 15px;
}
#top_box #top_function_box ul #person_center_menu #login_dropdownlist_box #login_dropdownlist li a{
	font-size: 13px;
	color: black;
	display: block;
}
#top_box #top_function_box ul #person_center_menu #login_dropdownlist_box #login_dropdownlist li a.one:hover{
	background: #ED5565;
	border-radius: 5px;
	color: white;
}
#top_box #top_nav_box{
	height: 40px;
	border-bottom:2px solid white;
}
#top_box #top_nav_box #nav_search_box{
	width: 960px;
	margin: 0 auto;
	height: 40px;
	position: relative;
	background: #ED5565;
}
#top_box #top_nav_box #nav_search_box ul{
	position: absolute;
	top: 0px;
	left: 0px;
}
#top_box #top_nav_box #nav_search_box ul li{
	float: left;
	width: 112px;
	height: 42px;
}
#top_box #top_nav_box #nav_search_box ul li.border{
	background: url(../images/nav_bg.png) no-repeat 0px -2px;
}
#top_box #top_nav_box #nav_search_box ul li a{
	color: white;
	font-size: 18px;
	font-family: 微软雅黑;
	display: block;
	height: 38px;
	width: 112px;
	line-height: 38px;
	text-align: center;
	
}
#top_box #top_nav_box #nav_search_box input{
	outline: none;
}
#top_box #top_nav_box #nav_search_box div{
	background: url(../images/search_bg.png) no-repeat -2px 0px;
	height: 42px;
	width: 320px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#top_box #top_nav_box #nav_search_box div #search_con{
	width: 300px;
	height: 33px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	position: absolute;
	top: 9px;
	right: 10px;
	padding:0px;
	
	line-height: 33px\9; /*IE8*/  
	max-height: 33px\9;

	*height:29px;/*IE6*/  /*解决IE Input 高度bug*/
	*line-height:29px;/*IE6*/  
	*max-height:29px;/*IE6*/  

	*height:29px!important;/*IE7*/ 
	*line-height:29px!important;/*IE7*/  
	*max-height:29px!important;/*IE7*/  
}
#top_box #top_nav_box #nav_search_box div label.default_content{
	position: absolute;
	top: 9px;
	left: 17px;
	width: 200px;
	height: 33px;
	line-height: 33px;
	color: #666;
	z-index: 5;
}
#top_box #top_nav_box #nav_search_box div #search_btn{
	width: 30px;
	cursor: pointer;
	background: url(../images/search.png) no-repeat 0px 3px;
	position: absolute;
	top: 9px;
	right: 10px;
	height: 33px;
	padding:0px;
}
#top_box div.bottom_box{
	height:10px;
	background: #ED5565;
	min-width: 960px;
}
#top_nav_classification_box{
	width: 160px;
	height: 408px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	_position:absolute;
	_left:expression((parseInt(document.documentElement.clientWidth-960)/2)-160-10);
	_top:expression(parseInt((document.documentElement.clientHeight-408)/2)+document.documentElement.scrollTop);
}
#top_nav_classification_box ul{
	position: absolute; /*解决 IE 兼容性问题*/
	width: 160px;
	background: #ED5565;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#top_nav_classification_box ul li{
	margin-left: 15px;
	margin-right: 15px;
	border-bottom: 1px solid white;
}
#top_nav_classification_box ul li.no_border_bottom{
	border-bottom: none;
}
#top_nav_classification_box ul li.collapse{
	background: white;
	margin-left: 0px;
	margin-right: 0px;

}
#top_nav_classification_box ul li.expand{
	display: none;
	border-bottom: none;

}
#top_nav_classification_box ul li a{
	display: block;
	font-family: 微软雅黑;
	font-size: 14px;
	color: white;
	font-weight: bold;
	height:50px;
	line-height: 50px;
	text-align: center;
}
#top_nav_classification_box ul li a.red{
	color: #ED5565;
	font-weight: normal;
	padding-left: 10px;
	background: url(../images/collapse.png) no-repeat 20px 18px;
}
#top_nav_classification_box ul li a.white{
	color: white;
	font-weight: normal;
	padding-left: 10px;
	background: url(../images/expand.png) no-repeat 5px 18px;
}
/*右边浮动导航*/
div.right_back_top_bottom_box{
	text-align: center;
	position: fixed;
	top: 205px;
	bottom: 15px;
	z-index: 10;	
	_position:absolute;
	_left:expression((parseInt(document.documentElement.clientWidth+960)/2)+35);
	_top:expression(parseInt((document.documentElement.clientHeight+1)/2)+document.documentElement.scrollTop);
	/*background: red;*/
	width: 110px;
}
div.right_back_top_bottom_box img{
	width: 110px;
	height: 230px;
}
div.right_back_top_bottom_box a.back{
	display: inline-block;
	height: 65px;
	width: 65px;
	background-image: url(../images/backtotop.png);
}
div.right_back_top_bottom_box a.backbottom{
	display: inline-block;
	height: 65px;
	width: 65px;
	background-image: url(../images/backbottom.png);
}
div.right_back_top_bottom_box a.backbottomhover{
	background-image: url(../images/backbottom-hover.png);
}
div.right_back_top_bottom_box a.backtophover{
	background-image: url(../images/backtotop-hover.png);
}
/*右边浮动导航*/
/*顶部订阅分享区域结束*/
/*Logo区域*/

#Userreg_box{
	display: none;
	background: white;
	width: 683px;
	height: 590px;
	border-radius: 5px;
	
}
#Userreg_box #u_top{
	background: #ED5565;
	width: 683px;
	height: 62px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 4px solid #DA4453;
	position: relative;
}
#Userreg_box #u_top p{
	font-size: 21px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 20px;
	left: 40px;
}
#Userreg_box #u_top #a_closed2{
	color: white;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 4px;
	right: 8px;
	border:none;
	cursor: pointer;
}
#Userreg_box #u_top #a_closed2 img{
	border:none;
	width: 30px;
	height: 30px;
}
#Userreg_box #u_bottom{
	display: block;
}
#Userreg_box #u_bottom ul{
	width: 600px;
	height: 41px;
	margin: 0 auto;
	border-bottom: 2px solid #E4E4E4;
}
#Userreg_box #u_bottom ul li{
	width: 120px;
	height: 41px;
	float: left;
}
#Userreg_box #u_bottom ul li.one{
	border-bottom: 2px solid #ED5565;
}
#Userreg_box #u_bottom ul li a{
	color: #999999;
	font-size: 14px;
	font-weight:bold;
	display: block;
	width: 120px;
	height: 41px;
	line-height: 41px;
	text-align: center;
}
#Userreg_box #u_bottom ul li a.one{
	color: #ED5565;
}
#Userreg_box #u_bottom #email_box{
	margin: 0 auto;
	width: 600px;
	height: 400px;
	margin-top: 20px;
	position: relative;
	display: none;
}
#Userreg_box #u_bottom #email_box form p{
	color: #333333;
	font-size: 14px;
}
#Userreg_box #u_bottom #email_box form p.one{
	position: absolute;
	top: 20px;
	left: 6px;
}
#Userreg_box #u_bottom #email_box form p.two{
	position: absolute;
	top: 80px;
	left: 6px;
}
#Userreg_box #u_bottom #email_box form p.three{
	position: absolute;
	top: 155px;
	left: 6px;
}
#Userreg_box #u_bottom #email_box form p.four{
	position: absolute;
	top: 210px;
	left: 6px;
}
#Userreg_box #u_bottom #email_box form p.five{
	position: absolute;
	top: 272px;
	left: 6px;
}
#Userreg_box #u_bottom #email_box form p.six{
	position: absolute;
	top: 325px;
	left: 95px;
	font-size: 13px;
}
#Userreg_box #u_bottom #email_box form p.seven{
	position: absolute;
	top: 425px;
	left: 115px;
	font-size: 13px;
}
#Userreg_box #u_bottom #email_box form p.seven a{
	color: #4467A3;
	font-weight:bold;

}
#Userreg_box #u_bottom #email_box form p.eight{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 24px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_12.png) no-repeat;
}
#Userreg_box #u_bottom #email_box form p.nine{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 84px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_12.png) no-repeat;
}
#Userreg_box #u_bottom #email_box form p.ten{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 160px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_12.png) no-repeat;
}
#Userreg_box #u_bottom #email_box form p.eleven{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 218px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_12.png) no-repeat;
}
#Userreg_box #u_bottom #email_box form p.twelve{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 278px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_12.png) no-repeat;
	display: none;
}
#Userreg_box #u_bottom #email_box form p.thirteen{
	color: #999;
	font-size: 13px;
	position: absolute;
	top: 368px;
	left:390px;
	padding-left: 20px;
	background: url(../images/ico_13.png) no-repeat;
	display: none;
}
#Userreg_box #u_bottom #email_box form input{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 306px;
	height: 41px;
	line-height: 41px;
}
#Userreg_box #u_bottom #email_box form #regemail_vcode_not_clear{
	position: absolute;
	top: 280px;
	left: 290px;
	font-size: 13px;
	color: #4467A3;
}
#Userreg_box #u_bottom #email_box form img.one{
	position: absolute;
	top: 277px;
	left: 335px;
	
}
#Userreg_box #u_bottom #email_box form ul{
	width: 306px;
	height: 15px;
	position: absolute;
	top: 118px;
	left: 77px;
	border-bottom: none;
}
#Userreg_box #u_bottom #email_box form ul li{
	float: left;
	width: 100px;
	height: 15px;
	background: #C9E0DD;
	border-right: 1px solid white;
	color: white;
	text-align: center;
}
#Userreg_box #u_bottom #email_box form ul li.red{
	background: #ED5565;
}
#Userreg_box #u_bottom #email_box form input.one{
	position: absolute;
	top: 10px;
	left:75px;
}
#Userreg_box #u_bottom #email_box form input.two{
	position: absolute;
	top: 70px;
	left:75px;
}
#Userreg_box #u_bottom #email_box form input.three{
	position: absolute;
	top: 145px;
	left:75px;
}
#Userreg_box #u_bottom #email_box form input.four{
	position: absolute;
	top: 205px;
	left:75px;
}
#Userreg_box #u_bottom #email_box form input.five{
	position: absolute;
	top: 265px;
	left:75px;
	width: 200px;

}
#Userreg_box #u_bottom #email_box form input.six{
	position: absolute;
	top: 325px;
	left:74px;
	width: 20px; width/*\**/:16px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:16px \9; /*IE6,IE7,IE8识别*/
	border:none;
	
}
#Userreg_box #u_bottom #email_box form #email_reg_btn{
	position: absolute;
	top: 355px;
	left:75px;
	width: 306px;
	height:46px;
	border-radius: 5px;
	/*background: #F3F3F3;*/
	background:#ED5565;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
	cursor: pointer;
	border:none;
}
#Userreg_box #u_bottom #cellphone_box{
	margin: 0 auto;
	width: 600px;
	height: 400px;
	margin-top: 20px;
	position: relative;
}
#Userreg_box #u_bottom #cellphone_box form p{
	color: #333333;
	font-size: 14px;
}
#Userreg_box #u_bottom #cellphone_box form p.one{
	position: absolute;
	top: 20px;
	left: 6px;
}
#Userreg_box #u_bottom #cellphone_box form p.two{
	position: absolute;
	top: 160px;
	left: 6px;
}
#Userreg_box #u_bottom #cellphone_box form p.three{
	position: absolute;
	top: 235px;
	left: 6px;
}
#Userreg_box #u_bottom #cellphone_box form p.four{
	position: absolute;
	top: 285px;
	left: 6px;
}
#Userreg_box #u_bottom #cellphone_box form p.five{
	position: absolute;
	top: 337px;
	left: 95px;
	font-size: 13px;
}
#Userreg_box #u_bottom #cellphone_box form p.five a{
	color: #4467A3;
}
#Userreg_box #u_bottom #cellphone_box form p.six{
	position: absolute;
	top: 430px;
	left: 120px;
	font-size: 13px;
}
#Userreg_box #u_bottom #cellphone_box form p.six a{
	color: #4467A3;
	font-weight:bold;
}
#Userreg_box #u_bottom #cellphone_box form p.seven{
	position: absolute;
	top: 105px;
	left: 6px;
}
#Userreg_box #u_bottom #cellphone_box form p.eight{
	position: absolute;
	top: 23px;
	left: 390px;
	color: #999;
	font-size: 13px;
	background: url(../images/ico_12.png) no-repeat;
	padding-left: 20px;
}
#Userreg_box #u_bottom #cellphone_box form p.nine{
	position: absolute;
	top: 108px;
	left: 390px;
	color: #999;
	font-size: 13px;
	background: url(../images/ico_12.png) no-repeat;
	padding-left: 20px;
}
#Userreg_box #u_bottom #cellphone_box form p.ten{
	position: absolute;
	top: 163px;
	left: 390px;
	color: #999;
	font-size: 13px;
	background: url(../images/ico_12.png) no-repeat;
	padding-left: 20px;
}
#Userreg_box #u_bottom #cellphone_box form p.eleven{
	position: absolute;
	top: 238px;
	left: 390px;
	color: #999;
	font-size: 13px;
	background: url(../images/ico_12.png) no-repeat;
	padding-left: 20px;
}
#Userreg_box #u_bottom #cellphone_box form p.twelve{
	position: absolute;
	top: 293px;
	left: 390px;
	color: #999;
	font-size: 13px;
	background: url(../images/ico_12.png) no-repeat;
	padding-left: 20px;
}
#Userreg_box #u_bottom #cellphone_box form p.thirteen{
	position: absolute;
	top: 425px;
	left: 115px;
	font-size: 13px;
}
#Userreg_box #u_bottom #cellphone_box form p.thirteen a{
	color: #4467A3;
	font-weight:bold;

}
#Userreg_box #u_bottom #cellphone_box form p.fourteen{
	position: absolute;
	top: 380px;
	left: 390px;
	color: #F14B2B;
	font-size: 13px;
	background: url(../images/ico_13.png) no-repeat;
	padding-left: 20px;
	display: none;
}
#Userreg_box #u_bottom #cellphone_box form p.tip_send_vcode{
	position: absolute;
	top: 65px;
	left: 180px;
	color: #999;
	font-size: 13px;
	padding-left: 20px;
	display: none;
}
#Userreg_box #u_bottom #cellphone_box form input{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 306px;
	height: 41px;
	line-height: 41px;
}
#Userreg_box #u_bottom #cellphone_box form ul{
	width: 306px;
	height: 15px;
	position: absolute;
	top: 200px;
	left: 77px;
	border-bottom: none;
}
#Userreg_box #u_bottom #cellphone_box form ul li{
	float: left;
	width: 100px;
	height: 15px;
	background: #C9E0DD;
	border-right: 1px solid white;
	color: white;
	text-align: center;
}
#Userreg_box #u_bottom #cellphone_box form ul li.red{
	background: #ED5565;
}
#Userreg_box #u_bottom #cellphone_box form input.one{
	position: absolute;
	top: 10px;
	left:75px;
}
#Userreg_box #u_bottom #cellphone_box form input.two{
	position: absolute;
	top: 150px;
	left:75px;
}
#Userreg_box #u_bottom #cellphone_box form input.three{
	position: absolute;
	top: 225px;
	left:75px;
}
#Userreg_box #u_bottom #cellphone_box form input.four{
	position: absolute;
	top: 280px;
	left:75px;
}
#Userreg_box #u_bottom #cellphone_box form input.five{
	position: absolute;
	top: 335px;
	left:74px;
	width: 20px; width/*\**/:16px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:16px \9; /*IE6,IE7,IE8识别*/
	border:none;
}
#Userreg_box #u_bottom #cellphone_box form input.six{
	position: absolute;
	top: 95px;
	left:75px;
}
#Userreg_box #u_bottom #cellphone_box form #cellphone_reg_btn{
	position: absolute;
	top: 365px;
	left:75px;
	width: 306px;
	height:46px;
	border-radius: 5px;
	background:#ED5565;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
	border:none;
}
#Userreg_box #u_bottom #cellphone_box form #sendcode{
	position: absolute;
	top: 60px;
	left:75px;
	width: 116px;
	height:25px;
	border-radius: 5px;
	background:#D3DDED;
	color: black;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
}
#Userreg_box #UserregSuccess_email{
	display: none;
}
#Userreg_box #UserregSuccess_email #tips_box{
	width: 620px;
	height: 75px;
	background: #E7FFCE;
	border-radius: 5px;
	position: absolute;
	top: 25px;
	left: 30px;
	position: relative;
	
}
#Userreg_box #UserregSuccess_email #tips_box img{
	position: absolute;
	top: 15px;
	left: 10px;
}
#Userreg_box #UserregSuccess_email #tips_box p{
	font-size: 14px;
}
#Userreg_box #UserregSuccess_email #tips_box p.one{
	position: absolute;
	top: 20px;
	left: 75px;
	font-weight: bold;
}
#Userreg_box #UserregSuccess_email #tips_box p.two{
	position: absolute;
	top: 42px;
	left: 75px;
}
#Userreg_box #UserregSuccess_email #tips_box p.two a{
	font-size: 14px;
	color: #4467A3;
}
#Userreg_box #UserregSuccess_email #tips_box p.two a:hover{
	text-decoration: underline;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box{
	width: 650px;
	height: 300px;
	position: absolute;
	top: 55px;
	left: 30px;
	position: relative;
	
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box p.one{
	position: absolute;
	top: 0px;
	left: 0px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul.one{
	width: 410px;
	height: 270px;
	position: absolute;
	top: 30px;
	left: 0px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li{
	position: relative;
	height: 100px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li input.one{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 200px;
	height: 41px;
	position: absolute;
	top: 20px;
	left: 70px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li input.two{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 80px;
	height: 31px;
	position: absolute;
	top: 70px;
	left: 70px;
	
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li input.special{
	font-weight: bold;
	cursor: pointer;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li input.special2{
	color: #BBB;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li p.title{
	position: absolute;
	top: 32px;
	left: 0px;
	font-size: 14px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li p.validate{
	position: absolute;
	top: 32px;
	left: 280px;
	font-size: 14px;
	color: #F14B2B;
	font-size: 12px;
	background: url('../images/ico_13.png') no-repeat;
	padding-left: 22px;
	display: none;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box ul li p.errorTips{
	position: absolute;
	top: 78px;
	left: 160px;
	color: #BBB;
	display: none;
	
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bingdingcellphone_success{
	width: 410px;
	height: 190px;
	position: absolute;
	top: 40px;
	left: 0px;
	border-radius: 5px;
	display: none;
	background:#FFFFE1;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bingdingcellphone_success p.one{
	position: absolute;
	top: 50px;
	left: 60px;
	font-size: 14px;
	font-weight: bold;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bingdingcellphone_success p.two{
	position: absolute;
	top: 100px;
	left: 60px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bingdingcellphone_success p.two a{
	color: #5D6476;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bingdingcellphone_success p.two a:hover{
	text-decoration: underline;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bindingcellphone_tips{
	width: 200px;
	height: 190px;
	background: #F2F2F2;
	position: absolute;
	top: 40px;
	right: 30px;
	border-radius: 5px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bindingcellphone_tips p.two{
	color: #515151;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 8px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bindingcellphone_tips p.three{
	color: #797979;
	font-size: 12px;
	position: absolute;
	top: 130px;
	left: 8px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bindingcellphone_tips ul{
	width: 165px;
	height: 60px;
	position: absolute;
	top: 45px;
	left: 30px;
}
#Userreg_box #UserregSuccess_email #bindingcellphone_box #bindingcellphone_tips ul li{
	height: 20px;
	list-style: circle;
	color: #515151;
}


#Userreg_box #UserregSuccess_cellphone{
	position: relative;
	display: none;
}
#Userreg_box #UserregSuccess_cellphone p.count{
	position: absolute;
	top: 130px;
	left: 80px;
	font-size: 13px;
}
#Userreg_box #UserregSuccess_cellphone p.count span{
	color: #ED5565;
	font-size: 16px;
	font-weight: bold;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2{
	width: 620px;
	height: 75px;
	background: #E7FFCE;
	border-radius: 5px;
	position: absolute;
	top: 25px;
	left: 30px;
	position: relative;
	
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 img{
	position: absolute;
	top: 15px;
	left: 10px;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 p{
	font-size: 14px;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 p.one{
	position: absolute;
	top: 20px;
	left: 75px;
	font-weight: bold;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 p.two{
	position: absolute;
	top: 42px;
	left: 75px;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 p.two a{
	font-size: 14px;
	color: #4467A3;
}
#Userreg_box #UserregSuccess_cellphone #tips_box2 p.two a:hover{
	text-decoration: underline;
}



#Userlogin_box{
	display: none;
	background: white;
	width: 627px;
	height: 479px;
	border-radius: 5px;
}

#Userlogin_box #u_top_box{
	background: #ED5565;
	width: 627px;
	height: 61px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 4px solid #DA4453;
	position: relative;
}
#Userlogin_box #u_top_box p{
	color: white;
	font-size: 21px;
	font-weight: 700;
	position: absolute;
	top: 20px;
	left:40px;
}
#Userlogin_box #u_top_box #a_closed{
	color: white;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 4px;
	right: 8px;
	border:none;
	cursor: pointer;
}
#Userlogin_box #u_top_box #a_closed img{
	border:none;
	width: 30px;
	height: 30px;
}
#Userlogin_box #u_middle_box{
	width: 627px;
	height: 318px;
	position: relative;
}
#Userlogin_box #u_middle_box  #btn_login{
	position: absolute;
	top: 230px;
	left:100px;
	width: 256px;
	height:46px;
	border-radius: 5px;
	background:#ED5565;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
	border:none;
}
#Userlogin_box #u_middle_box  #forgetpwd{
	position: absolute;
	top: 97px;
	left:370px;
	color: #4467A3;
	
}
#Userlogin_box #u_middle_box  #vcode_not_clear{
	position: absolute;
	top: 155px;
	left:370px;
	color: #4467A3;
}
#Userlogin_box #u_middle_box  #vcode_img{
	position: absolute;
	top: 150px;
	left:420px;
	color: #4467A3;
}
#Userlogin_box #u_middle_box  p.one{
	position: absolute;
	top: 30px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #u_middle_box  p.two{
	position: absolute;
	top: 90px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #u_middle_box  p.three{
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #u_middle_box  p.four{
	position: absolute;
	top: 202px;
	left: 120px;
}
#Userlogin_box #u_middle_box  p.five{
	position: absolute;
	top: 202px;
	left: 250px;
}
#Userlogin_box #u_middle_box  p.six{
	position: absolute;
	top: 290px;
	left: 163px;
}
#Userlogin_box #u_middle_box  p.six a{
	color: #4467A3;
	font-weight: bold;
}
#Userlogin_box #u_middle_box  p.seven{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 370px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #u_middle_box  p.eight{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 97px;
	left: 450px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #u_middle_box  p.nine{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 155px;
	right:45px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #u_middle_box  p.ten{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 245px;
	left: 370px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #u_middle_box  input{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 256px;
	height: 41px;
	line-height: 41px;
}
#Userlogin_box #u_middle_box  input.one{
	position: absolute;
	top: 20px;
	left: 100px;

}
#Userlogin_box #u_middle_box  input.two{
	position: absolute;
	top: 80px;
	left: 100px;
}
#Userlogin_box #u_middle_box  input.three{
	position: absolute;
	top: 140px;
	left: 100px;
}
#Userlogin_box #u_middle_box  input.four{
	position: absolute;
	top: 200px;
	left: 100px;
	width: 20px; width/*\**/:16px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:16px \9; /*IE6,IE7,IE8识别*/
	border:none;
}
#Userlogin_box #u_middle_box  input.five	{
	position: absolute;
	top: 200px;
	left: 230px;
	width: 20px; width/*\**/:15px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:15px \9; /*IE6,IE7,IE8识别*/
	border:none;
}

#Userlogin_box #u_bottom_box{
	width: 627px;
	height: 130px;
	background: #E4E4E4;
	position: relative;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#Userlogin_box #u_bottom_box p{
	position: absolute;
	top: 40px;
	left: 30px;
	color: #333;
	font-size: 14px;
}
#Userlogin_box #u_bottom_box ul{
	width: 500px;
	height: 18px;
	position: absolute;
	top: 80px;
	left: 4px;	
}
#Userlogin_box #u_bottom_box ul li{
	float: left;
	padding-left: 25px;
	
}
#Userlogin_box #u_bottom_box ul li a{
	padding-left: 20px;
	background:url('../images/iconbg_a109284.png') no-repeat;
}
#Userlogin_box #u_bottom_box ul li a:hover{
	text-decoration: underline;
}
#Userlogin_box #u_bottom_box ul li a.one{
	background-position: 0px -1339px;
}
#Userlogin_box #u_bottom_box ul li a.two{
	background-position: 0px -1374px;
}
#Userlogin_box #u_bottom_box ul li a.three{
	background-position: 0px -1192px;
}
#Userlogin_box #u_bottom_box ul li a.four{
	background-position: 0px -1228px;
}
#Userlogin_box #u_bottom_box ul li a.five{
	background-position: 0px -1300px;
}



#UserForgetpwd_box{
	display: none;
	background: white;
	width: 627px;
	height: 415px;
	border-radius: 5px;
	position: relative;
	
}
#UserForgetpwd_box #return_userlogin{
	color: #4467A3;
	position: absolute;
	top: 360px;
	left: 120px;
}
#UserForgetpwd_box ul{
	width: 627px;
	height: 340px;
	
}
#UserForgetpwd_box ul li{
	width: 627px;
	height: 170px;
	position: relative;
}
#UserForgetpwd_box ul li img{
	position: absolute;
	top: 30px;
	left: 40px;
}
#UserForgetpwd_box ul li p.one{
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 33px;
	left: 120px;
}
#UserForgetpwd_box ul li p.one span{
	color: #ED5565;
	font-weight: bold;
	font-size: 14px;
}
#UserForgetpwd_box ul li p.two{
	position: absolute;
	top: 57px;
	left: 120px;
}
#UserForgetpwd_box ul li #forgetpwd_hidebox01{
	position: absolute;
	top: 92px;
	left: 390px;
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	padding-left: 20px;
	display: none;
}
#UserForgetpwd_box ul li #forgetpwd_hidebox02{
	position: absolute;
	top: 92px;
	left: 390px;
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	padding-left: 20px;
	display: none;
}
#UserForgetpwd_box ul li form input{
	position: absolute;
	top: 80px;
	left: 120px;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 256px;
	height: 40px;

}
#UserForgetpwd_box ul li form a{
	background: #D3DDED;
	display: block;
	width: 82px;
	height: 36px;
	border-radius: 5px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	top: 133px;
	left: 120px;
}


#Userlogin_box #modify_pwd_box{
	display: none;
	width: 627px;
	height: 318px;
	position: relative;
}
#Userlogin_box #modify_pwd_box  #btn_modify{
	position: absolute;
	top: 230px;
	left:100px;
	width: 256px;
	height:46px;
	border-radius: 5px;
	background:#ED5565;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
}
#Userlogin_box #modify_pwd_box #forgetpwd{
	position: absolute;
	top: 97px;
	left:370px;
	color: #4467A3;
	
}
#Userlogin_box #modify_pwd_box  #vcode_not_clear{
	position: absolute;
	top: 155px;
	left:370px;
	color: #4467A3;
}
#Userlogin_box #modify_pwd_box  #vcode_img{
	position: absolute;
	top: 150px;
	left:420px;
	color: #4467A3;
}
#Userlogin_box #modify_pwd_box  p.one{
	position: absolute;
	top: 30px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #modify_pwd_box  p.two{
	position: absolute;
	top: 90px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #modify_pwd_box  p.three{
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 14px;
}
#Userlogin_box #modify_pwd_box  p.four{
	position: absolute;
	top: 202px;
	left: 120px;
}
#Userlogin_box #modify_pwd_box  p.five{
	position: absolute;
	top: 202px;
	left: 250px;
}
#Userlogin_box #modify_pwd_box  p.six{
	position: absolute;
	top: 290px;
	left: 163px;
}
#Userlogin_box #modify_pwd_box  p.six a{
	color: #4467A3;
	font-weight: bold;
}
#Userlogin_box #modify_pwd_box  p.seven{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 370px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #modify_pwd_box  p.eight{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 97px;
	left: 450px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #modify_pwd_box  p.nine{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 155px;
	right:45px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #modify_pwd_box  p.ten{
	color: #F14B2B;
	font-size: 12px;
	background: url(../images/ico_13.png) no-repeat;
	position: absolute;
	top: 245px;
	left: 370px;
	padding-left: 20px;
	display: none;
	
}
#Userlogin_box #modify_pwd_box  input{
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 256px;
	height: 41px;
	line-height: 41px;
}
#Userlogin_box #modify_pwd_box  input.one{
	position: absolute;
	top: 20px;
	left: 100px;

}
#Userlogin_box #modify_pwd_box  input.two{
	position: absolute;
	top: 80px;
	left: 100px;
}
#Userlogin_box #modify_pwd_box  input.three{
	position: absolute;
	top: 140px;
	left: 100px;
}
#Userlogin_box #modify_pwd_box  input.four{
	position: absolute;
	top: 200px;
	left: 100px;
	width: 20px; width/*\**/:16px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:16px \9; /*IE6,IE7,IE8识别*/
	border:none;
}
#Userlogin_box #modify_pwd_box  input.five	{
	position: absolute;
	top: 200px;
	left: 230px;
	width: 20px; width/*\**/:15px \9;	/*IE6,IE7,IE8识别*/
	height: 20px; height/*\**/:15px \9; /*IE6,IE7,IE8识别*/
	border:none;
}

/*Logo区域结束*/

/*最底部区域*/
#bottom_info{
	width: 100%;
	min-width: 960px;
	height: 200px;
	background: white;
	margin-top: 50px;
	border-top: 5px solid #A1A1A1;

	filter:alpha(opacity=75);  
    -moz-opacity:0.75;  
    -khtml-opacity: 0.75;  
    opacity: 0.75; 

}
#bottom_info #bottom_box{
	width: 960px;
	margin:0 auto;
}
#bottom_info #bottom_box ul{
	height: 100px;
	margin-left: 189px;
	margin-right: 189px;
}
#bottom_info #bottom_box ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
}
#bottom_info #bottom_box ul li a{
	color: #434343;
	font-size: 14px;
	border-right: 1px solid #434343;
	padding-right: 15px;
	padding-left: 25px;
}
#bottom_info #bottom_box ul li a.no_border_right{
	border-right: none;
}
#bottom_info #bottom_box div.detail_box{
	height: 100px;
}
#bottom_info #bottom_box div.detail_box p.one{
	text-align: center;
	color: #434343;
}
#bottom_info #bottom_box div.detail_box p.one span.padding_left{
	padding-left: 10px;
}
#bottom_info #bottom_box div.detail_box p.one span a{
	padding-left: 10px;
	color: blue;
}
#bottom_info #bottom_box div.detail_box p.two{
	text-align: center;
	color: #434343;
	margin-top: 5px;
}
#bottom_info #bottom_box div.detail_box p.two span.cnzz{
	padding-left: 10px;
}
/*最底部区域结束*/