
#top_nav #top_nav_box #left_collection{
	position: absolute;
	top:8px;
	left: 6px;
	width: 153px;
	height: 33px;
	background: white;
}
#right_function_box{
	position: fixed;
	top: 370px;
	right: 95px;
	display: none;
}
#right_function_box a{
	background:url(../images/backtop.png) no-repeat;
	padding-top: 50px;
	display: block;
	height: 20px;
	color: #666666;
}
#main{
	width: 960px;
	margin: 0 auto;
	/*background-color: #F2F2F2;*/

}
#main #main_content_top_box{
	height: 421px;
	position: relative;

}
#main #main_content_top_box #ad_box{
	position: absolute;
	top: 10px;
	left: 0px;
	border-radius: 5px;
	width: 960px;
	height: 223px;
}
#main #main_content_top_box #ad_box img{
	width: 960px;
	height: 223px;
	position: absolute;
	top: 0px;
	left: 0px;
	border:none;
}
#main #main_content_top_box #ad_box ul{
	position: absolute;
	top: 200px;
	right: 20px;
}
#main #main_content_top_box #ad_box ul li{
	float: left;
	width: 23px;
	border: 1px solid #CCCCCC;
	text-align: center;
	margin-right: 1px;
	height: 14px;
	line-height: 14px;
	background: #CCCCCC;
}
#main #main_content_top_box #ad_box ul li.hover{
	background: #ED5565;
}

#main #main_content_top_box ul.hot_navigation{
	position: absolute;
	top: 243px;
	left: 0px;
	border:1px solid #E4E4E4;
	width: 693px;
	height: 176px;
	background:white;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
}
#main #main_content_top_box ul.hot_navigation li{
	
	border-bottom: 1px solid #E4E4E4;
	margin-left: 10px;
	margin-right: 10px;	
	height:58px;
	line-height: 58px;
}
#main #main_content_top_box ul.hot_navigation li.no_bottom_border{
	border-bottom: none;
	
}

#main #main_content_top_box ul.hot_navigation li span{
	color: #ED5565;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	padding-left: 7px;
}
#main #main_content_top_box ul.hot_navigation li a{
	color: #4467A3;
	margin-right: 15px;
	display: inline-block;
	height:25px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}
#main #main_content_top_box ul.hot_navigation li a:hover{
	background: #4467A3;
	border-radius: 5px;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
#main #main_content_top_box ul.hot_navigation li a.one{
	margin-left: 30px;
}
#main #main_content_top_box div.QRcode_box{
	border:1px solid #E4E4E4;
	width: 254px;
	height: 176px;
	position: absolute;
	top: 243px;
	right: 0px;
	background:white;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
}
#main #main_content_top_box div.QRcode_box p{
	position: absolute;
	top: 15px;
	left: 40px;
	color: #666666;
	font-weight: bold;
}
#main #main_content_top_box div.QRcode_box img{
	position: absolute;
	top: 42px;
	left: 82px;
	width: 86px;
	height: 86px;
	border:none;
}
#main #hot_and_new_brand_box{
	position: relative;
	height: 215px;
	margin-top: 10px;
}
#main #hot_and_new_brand_box div.hot_brand_box{
	border:1px solid #E4E4E4;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 692px;
	height: 212px;
	overflow: hidden;
}
#main #hot_and_new_brand_box div.hot_brand_box p{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	background-color: #E4E4E4;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8; 
    opacity: 0.8; 
}
#main #hot_and_new_brand_box div.hot_brand_box ul{
	background:white;
	height: 180px;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8; 
    opacity: 0.8; 
}
#main #hot_and_new_brand_box div.hot_brand_box li{
	float: left;
	width: 135px;
	height: 180px;
	position: relative;
	
}
#main #hot_and_new_brand_box div.hot_brand_box ul li a.title{
	position: absolute;
	top: 145px;
	left: 18px;
	color:#ED5565;
	font-size: 14px;
	font-weight: bold;
	width:113px;
	text-align: center;
}
#main #hot_and_new_brand_box div.hot_brand_box ul li a.title:hover{
	text-decoration: underline;
}
#main #hot_and_new_brand_box div.hot_brand_box ul li a.img_box{
	display: block;
	width:113px;
	height: 113px;
	position: absolute;
	top: 25px;
	left:18px;
}
#main #hot_and_new_brand_box div.hot_brand_box ul li a.img_box img{
	width:113px;
	height: 113px;
	border:none;
}
#main #hot_and_new_brand_box div.new_brand_box{
	position: absolute;
	top: 0px;
	right: 0px;
	border:1px solid #E4E4E4;
	width: 254px;
	height: 212px;
}
#main #hot_and_new_brand_box div.new_brand_box p{
	color: #666666;
	font-size: 13px;
	background-color: #E4E4E4;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
#main #hot_and_new_brand_box div.new_brand_box ul{
	background:white;
	height: 180px;
	overflow: hidden;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8; 
    opacity: 0.8; 
}
#main #hot_and_new_brand_box div.new_brand_box ul li{
	float: left;
	width: 82px;
	height: 88px;
	position: relative;
}
#main #hot_and_new_brand_box div.new_brand_box ul li a.title{
	color: #666;
	display: block;
	text-align: center;
}
#main #hot_and_new_brand_box div.new_brand_box ul li a.img_box{
	display: block;
	width: 68px;
	height: 68px;
	margin-top: 3px;
	margin-left: 7px;
}
#main #hot_and_new_brand_box div.new_brand_box ul li a.img_box img{
	width: 68px;
	height: 68px;
	border:none;
}
#main #foot_and_footsort_box{
	height: 400px;
	position: relative;
	margin-top: 10px;
}
#main #foot_and_footsort_box div.foot_box{
	border:1px solid #E4E4E4;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 692px;
}
#main #foot_and_footsort_box div.foot_box a:hover{
	text-decoration: underline;
}
#main #foot_and_footsort_box div.foot_box p.title{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	background-color: #E4E4E4;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;  
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
#main #foot_and_footsort_box div.foot_box p.title span{
	color: #434343;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: bold;
	padding-right: 5px;
}
#main #foot_and_footsort_box div.foot_box ul.content{
	background:white;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;  
	height:365px;

}
#main #foot_and_footsort_box div.foot_box ul.content li{
	float: left;
	width: 341px;
	height: 181px;
	position: relative;
	margin-left: 5px;
}
#main #foot_and_footsort_box div.foot_box ul.content li:hover{
	background: #F4F1D2;
}
#main #foot_and_footsort_box div.foot_box ul.content li a.img_box img{
	width: 162px;
	height: 162px;
	position: absolute;
	top: 10px;
	left: 13px;
	border:none;

}
#main #foot_and_footsort_box div.foot_box ul.content li p.one{
	position: absolute;
	top: 40px;
	left: 182px;
	width: 152px;
	height: 45px;
	overflow: hidden;
	
}
#main #foot_and_footsort_box div.foot_box ul.content li p.two{
	position: absolute;
	top: 98px;
	left: 182px;
	width: 152px;
	color: #999999;
	height: 25px;
	overflow: hidden;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.two span{
	color: #ED5565;
	font-size: 20px;
	font-weight: normal;
	font-family: Arial;
	padding-left: 10px;
	padding-right: 10px;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.three{
	position: absolute;
	top: 132px;
	left: 182px;
	width: 152px;
	color: #999999;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.hidden_location{
	position: absolute;
	top: 132px;
	left: 13px;
	height: 40px;
	width: 162px;
	color: white;
	line-height: 40px;
	/*background: url(../images/location.png) no-repeat 1px 10px;*/
	background-color: #303131;
	font-weight: bold;
}
#main #foot_and_footsort_box div.foot_box ul.content li a.content_title{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 13px;
	left: 182px;
	height: 15px;
	overflow: hidden;
}
#main #foot_and_footsort_box div.foot_box ul.content li a.download{
	color: #ED5565;
	position: absolute;
	top: 154px;
	right: 24px;
	background: url(../images/download.png) no-repeat 0px -2px;
	padding-left: 19px;
}

#main #foot_and_footsort_box div.foot_box a.foot_type_more{
	color: #4467A3;
	position: absolute;
	top: 9px;
	right: 8px;
}


#main #foot_and_footsort_box #hot_coupon_box{
	background-color: white;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
	width: 256px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#main #foot_and_footsort_box #hot_coupon_box p.title{
	background: #E4E4E4;
	height: 35px;
	color: #666;
	line-height: 35px;
	padding-left: 8px;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon{
	margin-top: 5px;
	margin-left: 5px;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li{
	background: #ECEFF5;
	height: 80px;
	width: 244px;
	margin-bottom: 5px;
	position: relative;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li a.title{
	color: #ED5565;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 8px;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li a:hover{
	text-decoration: underline;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li p{
	color: #666;
	position: absolute;
	top: 27px;
	left: 8px;
	width: 165px;
	height: 45px;
	overflow: hidden;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li a.img_box{
	position: absolute;
	top: 10px;
	right: 5px;
	width: 62px;
	height: 62px;
	display: block;
}
#main #foot_and_footsort_box #hot_coupon_box ul.hot_coupon li a.img_box img{
	width: 62px;
	height: 62px;
	border:0px;
}