#top_nav #top_nav_box #left_collection{
	position: absolute;
	top:8px;
	left: 6px;
	width: 153px;
	height: 33px;
	background: white;
}
#right_function_box{
	border:1px solid black;
	height: 80px;
	width: 150px;
	position: fixed;
	top: 360px;
	right: 25px;

}
#main{
	width: 960px;
	margin: 0 auto;
	background-color: #F2F2F2;
}
#main #main_content_top_box{
	height: 260px;
	position: relative;

}
#main #main_content_top_box ul.category_title{
	border:1px solid #DA4453;
	width: 151px;
	height: 258px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: absolute;
	top: 0px;
	left: 6px;
	background: white;
}
#main #main_content_top_box ul.category_title li{
	width: 150px;
	height: 40px;
}
#main #main_content_top_box ul.category_title li a{
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	display: block;
	width: 142px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding-left: 9px;
}
#main #main_content_top_box ul.category_title li a:hover{
	color: white;
}
#main #main_content_top_box ul.category_title li a.one{
	background: url(../images/classification/food.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.one:hover{
	background: url(../images/classification/food-hover.png) no-repeat 14px 10px #ED5565;
}
#main #main_content_top_box ul.category_title li a.two{
	background: url(../images/classification/entertainment.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.two:hover{
	background: url(../images/classification/entertainment-hover.png) no-repeat 14px 10px #ED5565;
}
#main #main_content_top_box ul.category_title li a.three{
	background: url(../images/classification/lifestyle.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.three:hover{
	background: url(../images/classification/lifestyle-hover.png) no-repeat 14px 10px #ED5565;
}
#main #main_content_top_box ul.category_title li a.four{
	background: url(../images/classification/hotel.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.four:hover{
	background: url(../images/classification/hotel-hover.png) no-repeat 14px 10px #ED5565;
}
#main #main_content_top_box ul.category_title li a.five{
	background: url(../images/classification/tour.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.five:hover{
	background: url(../images/classification/tour-hover.png) no-repeat 14px 10px #ED5565;
}
#main #main_content_top_box ul.category_title li a.six{
	background: url(../images/classification/beauty.png) no-repeat 14px 10px;
}
#main #main_content_top_box ul.category_title li a.six:hover{
	background: url(../images/classification/beauty-hover.png) no-repeat 14px 10px #ED5565;
}

#main #main_content_top_box ul.hot_navigation{
	position: absolute;
	top: 10px;
	left: 165px;
	border:1px solid #E4E4E4;
	width: 530px;
	height: 110px;
	border-radius: 5px;
	border-bottom: 3px solid #E4E4E4;
	background: white;
}
#main #main_content_top_box ul.hot_navigation li{
	height: 36px;
	border-bottom: 1px solid #E4E4E4;
	margin-left: 10px;
	margin-right: 10px;	
}
#main #main_content_top_box ul.hot_navigation li.no_bottom_border{
	border-bottom: none;
}

#main #main_content_top_box ul.hot_navigation li span{
	color: #666666;
	font-weight: bold;
	display: inline-block;
	height: 35px;
	line-height: 35px;
}
#main #main_content_top_box ul.hot_navigation li a{
	color: #666666;
	margin-right: 15px;
	display: inline-block;
	height: 25px;
	line-height: 25px;

}
#main #main_content_top_box ul.hot_navigation li a:hover{
	background: #4467A3;
	border-radius: 5px;
	color: white;
}
#main #main_content_top_box ul.hot_navigation li a.one{
	margin-left: 30px;
}
#main #main_content_top_box #ad_box{
	position: absolute;
	top: 135px;
	left: 165px;
	border-bottom: 1px solid #E4E4E4;
	border-radius: 5px;
	width: 532px;
	height: 123px;
}
#main #main_content_top_box #ad_box img{
	width: 532px;
	height: 123px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#main #main_content_top_box #ad_box ul{
	position: absolute;
	top: 106px;
	right: 6px;
}
#main #main_content_top_box #ad_box ul li{
	float: left;
	width: 23px;
	border: 1px solid #CCCCCC;
	text-align: center;
	margin-right: 1px;
	height: 14px;
	line-height: 14px;
	background: #CCCCCC;
}
#main #main_content_top_box #ad_box ul li.hover{
	background: #ED5565;
}
#main #main_content_top_box div.QRcode_box{
	border-radius: 5px;
	border:1px solid #E4E4E4;
	width: 253px;
	height: 140px;
	border-bottom: 3px solid #E4E4E4;
	position: absolute;
	top: 10px;
	right: 4px;
	background: white;
}
#main #main_content_top_box div.QRcode_box p{
	position: absolute;
	top: 15px;
	left: 40px;
	color: #666666;
	font-weight: bold;
}
#main #main_content_top_box div.QRcode_box img{
	position: absolute;
	top: 42px;
	left: 88px;
}
#main #main_content_top_box div.recommend_box{
	border-radius: 5px;
	border:1px solid #E4E4E4;
	width: 253px;
	height: 94px;
	border-bottom: 3px solid #E4E4E4;
	background: white;
	position: absolute;
	top: 162px;
	right: 4px;
}
#main #hot_and_new_brand_box{
	position: relative;
	height: 215px;
	margin-top: 10px;
}
#main #hot_and_new_brand_box div.hot_brand_box{
	border:1px solid #E4E4E4;
	position: absolute;
	top: 0px;
	left: 6px;
	width: 688px;
	border-radius: 5px;
}
#main #hot_and_new_brand_box div.hot_brand_box p{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	background-color: #E4E4E4;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
#main #hot_and_new_brand_box div.hot_brand_box ul{
	background:white;
	height: 180px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#main #hot_and_new_brand_box div.hot_brand_box li{
	float: left;
	width: 135px;
	height: 180px;
	position: relative;
	
}
#main #hot_and_new_brand_box div.hot_brand_box ul li a{
	position: absolute;
	top: 145px;
	left: 42px;
	color:#ED5565;
	font-size: 14px;
	font-weight: bold;
}	
#main #hot_and_new_brand_box div.hot_brand_box ul li img{
	width:113px;
	height: 113px;
	position: absolute;
	top: 25px;
	left:18px;
	cursor: pointer;

}
#main #hot_and_new_brand_box div.new_brand_box{
	position: absolute;
	top: 0px;
	right: 4px;
	border:1px solid #E4E4E4;
	width: 253px;
	border-radius: 5px;
}
#main #hot_and_new_brand_box div.new_brand_box p{
	color: #666666;
	font-size: 13px;
	background-color: #E4E4E4;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
#main #hot_and_new_brand_box div.new_brand_box ul{
	background:white;
	height: 180px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#main #hot_and_new_brand_box div.new_brand_box ul li{
	float: left;
	width: 82px;
	height: 88px;
	position: relative;
}
#main #hot_and_new_brand_box div.new_brand_box ul li a{
	background: #CCCCCC;
	margin: 4px 4px 4px 4px;
	display: block;
	width: 81px;
	height: 84px;
	line-height: 75px;
	text-align: center;
}
#main #foot_and_footsort_box{
	height: 400px;
	position: relative;
	margin-top: 10px;

}
#main #foot_and_footsort_box div.foot_box{
	border:1px solid #E4E4E4;
	position: absolute;
	top: 0px;
	left: 6px;
	width: 688px;
	border-radius: 5px;
}
#main #foot_and_footsort_box div.foot_box a:hover{
	text-decoration: underline;
}
#main #foot_and_footsort_box div.foot_box p.title{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	background-color: #E4E4E4;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}
#main #foot_and_footsort_box div.foot_box ul.content{
	background:white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height:365px;

}
#main #foot_and_footsort_box div.foot_box ul.content li{
	float: left;
	width: 341px;
	height: 181px;
	position: relative;
}
#main #foot_and_footsort_box div.foot_box ul.content li:hover{
	/*background: #ECEFF5;*/
	background:url(../images/coupon-hover.png) no-repeat 0px 0px;
	
}
#main #foot_and_footsort_box div.foot_box ul.content li img{
	width: 162px;
	height: 162px;
	position: absolute;
	top: 10px;
	left: 13px;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.one{
	position: absolute;
	top: 40px;
	right: 9px;
	width: 152px;
	
}
#main #foot_and_footsort_box div.foot_box ul.content li p.two{
	position: absolute;
	top: 100px;
	right: 9px;
	width: 152px;
	color: #999999;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.three{
	position: absolute;
	top: 122px;
	right: 9px;
	width: 152px;
	color: #999999;
}
#main #foot_and_footsort_box div.foot_box ul.content li p.hidden_location{
	position: absolute;
	top: 132px;
	left: 13px;
	height: 40px;
	width: 145px;
	color: white;
	background: red;
	line-height: 40px;
	background: url(../images/location.png) no-repeat 1px 10px;
	background-color: black;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
	padding-left: 17px;
	font-weight: bold;
	display: none;
}
#main #foot_and_footsort_box div.foot_box ul.content li a.content_title{
	color: #ED5565;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 13px;
	right: 29px;
}
#main #foot_and_footsort_box div.foot_box ul.content li a.download{
	color: #ED5565;
	position: absolute;
	top: 154px;
	right: 24px;
	background: url(../images/download.png) no-repeat 0px -2px;
	padding-left: 19px;
	
}
#main #foot_and_footsort_box div.foot_box ul.title_content{
	height: 30px;
	position: absolute;
	top: 1px;
	right: 60px;
	
}
#main #foot_and_footsort_box div.foot_box ul.title_content li{
	height: 32px;
	float: left;	
}
#main #foot_and_footsort_box div.foot_box ul.title_content li a{
	color: #999999;
	display: block;
	border-right:1px solid #999;
	padding-right: 15px;
	margin-top: 8px;
	padding-left: 10px;
}
#main #foot_and_footsort_box div.foot_box ul.title_content li a.no_right_border{
	border-right: none
}
#main #foot_and_footsort_box div.foot_box a.foot_type_more{
	color: #4467A3;
	position: absolute;
	top: 9px;
	right: 8px;
}
#main #foot_and_footsort_box div.footsort_box{
	border:1px solid #E4E4E4;
	position: absolute;
	top: 0px;
	right: 4px;
	width: 254px;
	border-radius: 5px;
}
#main #foot_and_footsort_box div.footsort_box p.title{
	color: #666666;
	font-size: 13px;
	background-color: #E4E4E4;
	height: 32px;
	width: 117px;
	line-height: 32px;
	padding-left: 10px;
	display: inline-block;
}
#main #foot_and_footsort_box div.footsort_box p.title2{
	background: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
#main #foot_and_footsort_box div.footsort_box ul{
	background:white;
	height: 364px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: absolute;
	top: 32px;
	left: 0px;

}
#main #foot_and_footsort_box div.footsort_box ul.hidden{
	display: none;
}
#main #foot_and_footsort_box div.footsort_box ul li{
	float: left;
	width: 234px;
	height: 30px;
	position: relative;
	margin-left: 10px;
	margin-right:10px;
}
#main #foot_and_footsort_box div.footsort_box ul li.hover{
	width: 234px;
	height: 80px;
	position: relative;
	background-color: #ECEFF5;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 5px;
	border:1px solid #DBE1EC;
}
#main #foot_and_footsort_box div.footsort_box ul li a.one{
	color: #ED5565;
	font-weight: bold;
	background: url(../images/sort_01.png) no-repeat 0 4px;
	padding-left: 25px;
	display: block;
	position: absolute;
	top: 0px;
	left: 10px;
	height: 30px;
	line-height: 30px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_02{
	
	background: url(../images/sort_02.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_03{
	
	background: url(../images/sort_03.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_04{
	
	background: url(../images/sort_04.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_05{
	
	background: url(../images/sort_05.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_06{
	
	background: url(../images/sort_06.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_07{
	
	background: url(../images/sort_07.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_08{
	
	background: url(../images/sort_08.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_09{
	
	background: url(../images/sort_09.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.sort_id_10{
	
	background: url(../images/sort_10.png) no-repeat 0 4px;
}
#main #foot_and_footsort_box div.footsort_box ul li p.one{
	color: #666666;
	background: none;
	width: 120px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.two{
	color: #ED5565;
	font-weight: bold;
	display: block;
	position: absolute;
	top: 10px;
	left: 16px;
}
#main #foot_and_footsort_box div.footsort_box ul li p.two{
	width: 138px;
	background: none;
	position: absolute;
	top: 30px;
	left: 16px;
	color: #666666;
}
#main #foot_and_footsort_box div.footsort_box ul li a:hover{
	text-decoration: underline;
}
#main #foot_and_footsort_box div.footsort_box ul li img{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 13px;
	right: 12px;
}
#main #foot_and_footsort_box div.footsort_box ul li a.hidden{
	display: none;
}
#main #foot_and_footsort_box div.footsort_box ul li p.hidden{
	display: none;
}
#main #foot_and_footsort_box div.footsort_box ul li img.hidden{
	display: none;
}