#main #left_content_box div.mycontent_box{
	height: 500px;
}

#main #left_content_box div.mycontent_box ul.my_classification li a.four{
	font-weight: bold;
	color: #ED5565;
	border-bottom: 2px solid #ED5565;
}
#main #left_content_box div.mycontent_box p.sub_title{
	color: #ED5565;
	font-size: 14px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	padding-left: 10px;
	
}
#main #left_content_box div.mycontent_box ul.myinfo_box{
	margin-left: 25px;
	margin-right: 25px;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li{
	height: 50px;
	position: relative;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li.higher{
	height: 80px;
	
}
#main #left_content_box div.mycontent_box ul.myinfo_box li p{
	color: #666666;
	font-size: 13px;
	font-weight: normal;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li p.header{
	position: absolute;
	top: 20px;
	left: 50px;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li p.info_item{
	position: absolute;
	top: 7px;
	left: 180px;
	border:1px solid #C9C9C9;
	height: 34px;
	width: 230px;
	border-radius: 5px;
	background: #F2F2F2;
	line-height: 34px;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li p.no_binding_email{
	position: absolute;
	top: 20px;
	left: 180px;
	color: #FF0000;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li p.nickname_tips{
	position: absolute;
	top: 45px;
	left: 180px;
}
#main #left_content_box div.mycontent_box ul.myinfo_box li a{
	position: absolute;
	top: 20px;
	left: 430px;
	color: #4467A3;
}
#modify_cellphone_hidden_box{

	height: 400px;
	width: 500px;
	display: none;
	background: white;
	margin-top: 50px;
	border-radius: 5px;
}
#modify_cellphone_hidden_box div.top_content_box{
	background: #ED5565;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #DA4453;
	position: relative;
}
#modify_cellphone_hidden_box div.top_content_box p{
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#modify_cellphone_hidden_box div.top_content_box img{
	border:none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#modify_cellphone_hidden_box div.middle_content_box ul{
	
}
#modify_cellphone_hidden_box div.middle_content_box ul li{
	height: 60px;
	position: relative;
}
#modify_cellphone_hidden_box div.middle_content_box ul li.higher{
	height: 95px;
	
}
#modify_cellphone_hidden_box div.middle_content_box ul li p.label{
	color: #666;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 25px;
	left: 20px;
}
#modify_cellphone_hidden_box div.middle_content_box ul li p.hidden_error_tips{
	position: absolute;
	top: 28px;
	left: 330px;
	background: url('../images/ico_13.png') no-repeat;
	padding-left: 20px;
	color: #F14B2B;
	display: none;
	
}
#modify_cellphone_hidden_box div.middle_content_box ul li p.vcode_note{
	position: absolute;
	top: 58px;
	left: 115px;
	color: #666;
	font-size: 13px;
	font-weight: normal;
}
#modify_cellphone_hidden_box div.middle_content_box ul li p.binding_note{
	position: absolute;
	top: 65px;
	left: 210px;
	color: #666;
	font-size: 13px;
	font-weight: normal;
}
#modify_cellphone_hidden_box div.middle_content_box ul li input{
	border:1px solid #C9C9C9;
	height: 34px;
	width: 200px;
	border-radius: 5px;
	background: #F2F2F2;
	line-height: 34px;
	position: absolute;
	top: 17px;
	left: 115px;
}
#modify_cellphone_hidden_box div.middle_content_box ul li a.get_vcode{
	width: 80px;
	height: 30px;
	display: block;
	line-height: 30px;
	text-align: center;
	background: #D3DDED;
	border-radius: 5px;
	position: absolute;
	top: 58px;
	left: 115px;
}
#modify_cellphone_hidden_box div.middle_content_box #binding_cellphone_submit_btn{
	display: block;
	height: 40px;
	width: 100px;
	background: #ED5565;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin-top: 20px;
	margin-left: 120px;
	font-weight: bold;
}

#modify_email_hidden_box{
	height: 300px;
	width: 500px;
	display: none;
	background: white;
	margin-top: 50px;
	border-radius: 5px;
}
#modify_email_hidden_box div.top_content_box{
	background: #ED5565;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #DA4453;
	position: relative;
}
#modify_email_hidden_box div.top_content_box p{
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#modify_email_hidden_box div.top_content_box img{
	border:none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#modify_email_hidden_box div.middle_content_box ul{
	
}
#modify_email_hidden_box div.middle_content_box ul li{
	height: 60px;
	position: relative;
}
#modify_email_hidden_box div.middle_content_box ul li #binding_email_vcode_not_clear{
	position: absolute;
	top: 30px;
	left: 283px;
}
#modify_email_hidden_box div.middle_content_box ul li #binding_email_vcode_img{
	position: absolute;
	top: 25px;
	left: 230px;
}
#modify_email_hidden_box div.middle_content_box ul li p.label{
	color: #666;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 25px;
	left: 20px;
}
#modify_email_hidden_box div.middle_content_box ul li p.hidden_error_tips{
	position: absolute;
	top: 28px;
	left: 330px;
	background: url('../images/ico_13.png') no-repeat;
	padding-left: 20px;
	color: #F14B2B;
	display: none;
	
}
#modify_email_hidden_box div.middle_content_box ul li input{
	border:1px solid #C9C9C9;
	height: 34px;
	width: 200px;
	border-radius: 5px;
	background: #F2F2F2;
	line-height: 34px;
	position: absolute;
	top: 17px;
	left: 115px;
}
#modify_email_hidden_box div.middle_content_box ul li input.shorter{
	width: 100px;
}
#modify_email_hidden_box div.middle_content_box #binding_email_submit_btn{
	display: block;
	height: 40px;
	width: 100px;
	background: #ED5565;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin-top: 20px;
	margin-left: 120px;
	font-weight: bold;
}

#modify_nickname_hidden_box{
	height: 300px;
	width: 500px;
	display: none;
	background: white;
	margin-top: 50px;
	border-radius: 5px;
}
#modify_nickname_hidden_box div.top_content_box{
	background: #ED5565;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #DA4453;
	position: relative;
}
#modify_nickname_hidden_box div.top_content_box p{
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#modify_nickname_hidden_box div.top_content_box img{
	border:none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#modify_nickname_hidden_box div.middle_content_box ul{
	
}
#modify_nickname_hidden_box div.middle_content_box ul li{
	height: 60px;
	position: relative;
}
#modify_nickname_hidden_box div.middle_content_box ul li p.label{
	color: #666;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 25px;
	left: 20px;
}
#modify_nickname_hidden_box div.middle_content_box ul li p.hidden_error_tips{
	position: absolute;
	top: 27px;
	left: 330px;
	background: url('../images/ico_13.png') no-repeat;
	padding-left: 20px;
	color: #F14B2B;
	display: none
}
#modify_nickname_hidden_box div.middle_content_box ul li p.old_nickname{
	height: 34px;
	width: 200px;
	line-height: 34px;
	position: absolute;
	top: 17px;
	left: 115px;
}
#modify_nickname_hidden_box div.middle_content_box ul li input{
	border:1px solid #C9C9C9;
	height: 34px;
	width: 200px;
	border-radius: 5px;
	background: #F2F2F2;
	line-height: 34px;
	position: absolute;
	top: 17px;
	left: 115px;
}
#modify_nickname_hidden_box div.middle_content_box #binding_nickname_submit_btn{
	display: block;
	height: 40px;
	width: 100px;
	background: #ED5565;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin-top: 20px;
	margin-left: 120px;
	font-weight: bold;
}

#modify_password_hidden_box{

	height: 400px;
	width: 500px;
	display: none;
	background: white;
	margin-top: 50px;
	border-radius: 5px;
}
#modify_password_hidden_box div.top_content_box{
	background: #ED5565;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #DA4453;
	position: relative;
}
#modify_password_hidden_box div.top_content_box p{
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 180px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
#modify_password_hidden_box div.top_content_box img{
	border:none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#modify_password_hidden_box div.middle_content_box ul{
	
}
#modify_password_hidden_box div.middle_content_box ul li{
	height: 60px;
	position: relative;
}
#modify_password_hidden_box div.middle_content_box ul li p.label{
	color: #666;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	top: 25px;
	left: 20px;
}
#modify_password_hidden_box div.middle_content_box ul li p.hidden_error_tips{
	position: absolute;
	top: 28px;
	left: 330px;
	background: url('../images/ico_13.png') no-repeat;
	padding-left: 20px;
	color: #F14B2B;
	display: none;
	
}
#modify_password_hidden_box div.middle_content_box ul li input{
	border:1px solid #C9C9C9;
	height: 34px;
	width: 200px;
	border-radius: 5px;
	background: #F2F2F2;
	line-height: 34px;
	position: absolute;
	top: 17px;
	left: 115px;
}
#modify_password_hidden_box div.middle_content_box #binding_password_submit_btn{
	display: block;
	height: 40px;
	width: 100px;
	background: #ED5565;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin-top: 20px;
	margin-left: 120px;
	font-weight: bold;
}